resources/* linguist-vendored
static/css/* linguist-vendored
static/js/reveal.js linguist-vendored
static/lib/**/* linguist-vendored
static/plugin/**/* linguist-vendored
static/css/lampstand.css linguist-vendored=false
