resources/* linguist-vendored
static/css/*.css linguist-vendored
static/css/lampstand.css linguist-vendored=false
static/js/reveal.js linguist-vendored
static/lib/* linguist-vendored
static/plugin/* linguist-vendored