section .lampstand {
	margin-left: 0px;
	margin-right: 0px;
	text-align: left
}

div .passage {
	font-family: Georgia, serif;
	font-size: 1.6em;
	line-height: 1.2;
}

div .reference {
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
}

.passage sup {
	vertical-align: super;
	font-size: 0.8em;
	top: auto;
}

#searchbar {
	position: fixed;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	z-index: 1000
}

#buildinfo {
	position: fixed;
	top: 5px;
	right: 5px;
	font-size: 1em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
